datasets
features_C_T_S.csv
data_path.csv
.ipynb_checkpoints
.git
#jupyter-notebook.exe
#data_path.xlsx
.vscode
.idea
#features_RTCS.xlsx
#featuresUptoEmoCap.csv
#MlEnd.xlsx
#Iemocap.xlsx
#data_path_RTCS.csv
#data_path_New.xlsx

*.xlsx
*.csv
*.exe
